<%= render "layouts/service_card" do %>
  <%= render "services/search_filter", fields: [:date, :from, :to, :amount]  %>

  <% if @convert_currency%>
  <h4 class="mt-3">Result</h4>
  <%= @convert_currency.dig('result') %>
  <% end %>
<% end %>