<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <div class="navbar-brand">exchangerate_host examples</div>

    <a href="https://github.com/MizukiZ/exchangerate_host" class="btn btn-outline-primary">View on GitHub</a>
  </div>
</nav>