<div class="container mt-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4><%= controller.action_name.humanize %></h4>
      <%= link_to 'back', root_path, class: 'btn btn-outline-dark' %>
    </div>
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
</div>
